body{
    margin: 0%;
    padding: 0%;
}
nav{
    background-color: white;
}

.imgNav{
    height: 50px;
    width: 50px;
}

h5{
    margin: 0%;
}
input{
    background-color: black;
    color:white;
    width: 100px;
}

.flexContainer{
    display: flex;

}

.divUnoFondo{
    padding-bottom: 50px;
    background-image: url('../recursos/habitacion.avif');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
}

.divUnoPrincipalUno{
    height: 50%;
    width: 50%;
    padding-top: 80px;
    padding-left: 80px;
}

.divUnoUno{
    margin-right: 20px;
}

h2{
    margin: 0%;
    font-size: 30px;
}

.divDosFondo{
    padding-top: 10px;
    background-color: #e5eedb;
    margin-top: 50px;
    margin-left: 5%;
    width: 90%;
    height: 350px;
}

.divUnoPrincipalDos{
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}

.divDosPrincipalDos{
    display: flex;
    justify-content: space-around;
    
}

.imgDivDos{
    width: 50px;
    height: 50px;
}

.divUnoDos{
    justify-content: center;
    margin-right: 20px;
    display: flex;
}

.divUnoIzqFondoTres{
    padding-left: 30px;
    height: 250px;
    margin-top:7%;
    margin-left: 7%;
    background-color: #e7d8d5;
    width: 30%;
    margin-bottom: 30px;
}

.divTresPrincipal{
    display: flex;
    margin-right: 20px;
}

.divUnoDerFondoTres{
    height: 200px;
    margin-top:7%;
    margin-left: 7%;
    width: 200px;
    margin-bottom: 30px;

    padding-bottom: 50px;
   background-color: #e7d8d5;
}

.divDosDerFondoTres{
    height: 200px;
    margin-top:7%;
    margin-left: 7%;
    width: 00px;
    margin-bottom: 30px;

    padding-bottom: 50px;
   background-color: #e7d8d5;
}

.imgDivTres{
    width: 200px;
    height: 100px;
}